.headhome {
  background-color: #07889b;
  height: 330px;
  display: flex;
}
.p-1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 5%;
}
.p-2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 17px;
  text-align: center;
}
.p-3 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 17px;
  text-align: center;
}
.p-4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 17px;
  text-align: center;
  position: absolute;
  bottom: 10%;
}
.headpic {
  align-self: flex-end;
  height: 80%;
  justify-content: flex-end;
  padding-right: 4%;
}
.managePic {
  width: 30%;
  margin-right: 60%;
}
.headbutt {
  display: flex;
  justify-content: center;
}
.signinbutt {
  background-color: #e37222;
  margin-right: 5%;
  height: 43px;
  border-radius: 20px;
  width: 115px;
}
.regisbutt {
  background-color: #e37222;
  height: 43px;
  border-radius: 20px;
  width: 115px;
}
.logotext {
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
  font: 25px bold;
  color: #07889b;
}
.logotext2 {
  padding-left: 0.4%;
  color: #e37222;
}
.roledes {
  display: flex;
  justify-content: space-evenly;
}
.role1des {
  height: 300px;
}
.role1pic {
  height: 300px;
  border: 1px solid #07889b;
  background-color: #07889b;
}
.role2des {
  height: 300px;
  border: 1px solid #e37222;
  background-color: #e37222;
}
.role2pic {
  height: 300px;
}
.role3des {
  height: 300px;
}
.role3pic {
  height: 300px;
  border: 1px solid #07889b;
  background-color: #07889b;
}
.staffpic {
  width: 655px;
  height: 297px;
  position: absolute;
  right: 0.02%;
  border: 1px solid #07889b;
}
.managerpic {
  width: 657px;
  height: 298px;
  position: absolute;
  left: 0.5px;
  border: 1px solid #e37222;
}
.admpic {
  width: 655px;
  height: 350px;
  position: absolute;
  right: 0.5px;
  border: 1px solid #07889b;
}
.p-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 22px;
  margin-top: 4%;
  font-weight: 700;
}
.p-6 {
  margin-left: 15%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 17px;
}
.despic {
  width: 8%;
  margin-right: 3%;
}
.role3pic {
  height: 350px;
}
.footer {
  width: 100%;
  height: 200px;
  background-color: #07889b;
}
