.Schedule{
background-color: #66B9BF;
height: 1000px;
}
.test{
    margin-top: 0px; 
    margin-left: 150px;
}
.gbutton{
    margin-top: 0px; 
    margin-left: 20px;
}
.stat{
    margin-top: 50px; 
    margin-left: 980px;
    color: antiquewhite;
    font-size: 18px;
}
.p1{
    margin-left: -55px ;
    color: #E37222;
}
.p2{
    margin-left: 40px;
    color: #E37222;
}

.p3{
    margin-left: 40px;
    color: #E37222;
}
.tests{
    background-color: white;
    margin-top: 30px;
    border: 1px solid black;
  
}
.fix{
    width: 200px;
    height: 50px;
}
.test2{
    border: 1px solid #dee2e6;
    width: 30px;
    height: 50px;
    color: white;
    font: 'bold';
}

