.error{
    width: 10px;
    height: 10px;
    margin-top: -20%; 
    margin-left:40%;
    position: relative;
    z-index:2;
}
.dropdown{
margin-left: 38.5%;
margin-right: -30%;
position: relative;
}