.department-container{
    /* background-image:linear-gradient(#07889b,#66b9bf); */
    background-color:#fafafb; 
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    padding-top: 50px;
    min-width: 1440px;
}
.company-description{
    background-image: -webkit-linear-gradient(40deg, #6754e2 0%, #19cce6 150%); 
    min-height: 100vh;
    height: auto;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.company-pictures{
    width:150px;
    height: 150px;
    border: 1px solid #bdc7d8;
    border-radius: 100px;
    margin-left: 15px;
}
.description{
    margin-left: 15px;
    margin-top: 10px;
}
.second-description{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: lighter;
}
.department{
    display: flex;
    justify-content: flex-start;
    color:#848d95;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    padding-left:10px; 
    padding-bottom: 20px;
}
.create-department{
    border:2px solid #bdc7d8;
    border-radius: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:65px;
    width: 60px;
    height: 60px;
    align-items: center;
    padding: 80px;
}
.create-department-container{
    width:400px;
    height: 230px;
    padding:20px;
    padding-left:110px; 
    font-family: 'Poppins', sans-serif;
}
.departments{
    width: 400px;
    height: 280px;
    background-color:white;
    border: 1px solid #bdc7d8;
    margin-top: 20px;
    margin-left: 5px;
}
.department-pictures{
    width: 400px;
    height: 160px;
}
.dp-img1{
    width: 400px;
    height: 160px;
    background-color: #bdc7d8;;
}
.dp-sh{
    font-family: 'Poppins', sans-serif;
    color: #4054b2;
    padding: 10px;
    width: 400px;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.b-mn{
    margin-left: 280px;
    background: white;
    border: 1px solid #4054b2;
    color: #4054b2;
    margin-top: -30px;
    width:90px;
}
.b-mn:hover{
    margin-left: 280px;
    background: #4054b2;
    border: 1px solid #4054b2;
    color: white;
    margin-top: -30px;
    width:90px;
}
.manage-staff4{
    font-size: 12.5px; 
    width: 65px;
    height: 30px;
    background: white;
    border: 1px solid #4054b2;
    color: #4054b2;
    margin-left: 250px;
    margin-top: -7px;
}
.manage-staff5{
    font-size: 12.5px; 
    width: 65px;
    height: 30px;
    background: white;
    border: 1px solid #4054b2;
    color: #4054b2;
    margin-left: 5px;
    margin-top: -10px;
}
.manage-staff6{
    font-size: 12.5px; 
    width: 65px;
    height: 30px;
    background: white;
    border: 1px solid #4054b2;
    color: #4054b2;
    margin-left: 40px;
    margin-top: -10px;
}
.manage-staff7{
    font-size: 12.5px; 
    width: 65px;
    height: 30px;
    background: white;
    border: 1px solid #4054b2;
    color: #4054b2;
    margin-left: 20px;
    margin-top: 10px;
}
.manage-staff8{
    font-size: 12.5px; 
    width: 65px;
    height: 30px;
    background: white;
    border: 1px solid #4054b2;
    color: #4054b2;
    margin-left: 10px;
    margin-top: 10px;
}
.edit-depart{
    width: 150px;
    margin-left: 5px;
    margin-top: -5px;
}
.edit-depart2{
    width: 150px;
    margin-left: 5px;
    margin-top: -5px;
}
.input-c{
    margin-top: 10px;
    width: 170px;
}
label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
#manage-staff9 {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 .manage-staff9{
    font-size: 12.5px; 
    width: 65px;
    height: 30px;
    background: white;
    border: 1px solid #4054b2;
    color: #4054b2;
    margin-left: 10px;
    margin-top: 10px;
}
.manage-staff9{
    font-size: 12.5px; 
    width: 65px;
    height: 30px;
    background: white;
    border: 1px solid #4054b2;
    color: #4054b2;
    padding: 5px;
    font-weight: 300;
}
