.bodypage {
  background-image: -webkit-linear-gradient(40deg, #6754e2 0%, #19cce6 150%); 
  background-color: #fafafb;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editbox {
  position: relative;
  width: 1400px;
  height: 650px;
  border: 1px solid white;
  margin-top: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fafafb;
  display: flex;
  align-items: center;
  padding-top: 5px;
  flex-direction: column;
  z-index: 2;
}
.edit-profile {
  width: 150px;
  height: 150px;
  border: 1px solid #bdc7d8;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
 
}
.edit-userimg {
  width: 150px;
  height: 150px;
  border: 1px solid #bdc7d8;
  border-radius: 100px;
}

.camerapic {
  width: 45px;
  position: absolute;
  right: 45%;
  top: 28%;
}
.upload-image {
  background-image: -webkit-linear-gradient(
    -120deg,
    #8647f9 0%,
    #4e91c1 64%,
    #15da88 100%
  );
  margin-left: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 12.5px;
  width: 75.58px;
  height: 26px;
  color: white;
  border: 1px solid white;

  margin-top: 10px;
  padding: 2px 8px 2px 8px;
  border-radius: 5px;
}

label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.user-information {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.input-userinfor {
  font-family: 'Poppins', sans-serif;
  outline: 0;
  border-width: 0 0 2px;
  border: 1px solid white;
  background-color:rgba(0, 0, 0, 0);
  padding-left: 10px;
  width: 300px;
  height: 50px;
  margin-bottom: 8%;
  color: white
}
.input-userinfor:focus{
  background-color: white;
  color: #4054b2;
}
.edit-profilefooter {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.confirmbutt {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 150px;
  height: 40px;
  background-color:rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  margin-left: 30%;
}
.confirmbutt:hover {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 150px;
  height: 40px;
  background-color:white;
  border: 1px solid white;
  color: #4054b2;
  margin-left: 30%;
}
.span {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-bottom: 1%;
}
.selectedfile2 {
  margin-top: 10px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  color: white;
}
.Name {
  background-image: url("http://placehold.it/150x20");
}
.Editprofile-validate {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  color: red;
  font-size: 12px;
  margin: 0px;
}
