.JS{
 color: #07889B;
 font-size: 35px;
}
.Plus{
    color: #E37222;
    font-size: 35px;
}
.button1{
    background-color: #E37222;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3%;
}
