.request-popup-absent{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
    background-color: rgba(0,0,0, 0.5);
}
.request-popup_inner1-absent{
    position: absolute;
    left: 18%;
    right: 20%;
    top: 0%;
    bottom: 35%;
    margin: auto;
    width: 600px;
    height: 350px;
    background-color:#fafafb; 
    border-radius: 5px;
}

.user-request1-absent{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 15px;
    font-family: Helvetica;
}
.request-name-absent{
    font-family: Helvetica;
    font-size: 25px;
    font-weight: lighter;
}
.date-absent{
    font-family: Helvetica;
    font-size: 12.5px;
    font-weight: bold;
    color: #848d95;
}

.select-request2-absent{
    position: absolute;
    background-image:linear-gradient(	#FF8C00,orange,#eeaa7b);
    margin-top: 5px;
    margin-right: 15px;
    width: auto;
    bottom:10px;
    right: 5px;
    color: white;
    border: none;
    border-radius: 5px;
}
.request-header2-absent{
    background-image:linear-gradient(#07889b,#66b9bf);
    width: 600px;
    height: 40px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding-top: 10px;
      border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}
.close-create{
    width: 12.5px;
    height: 12.5px;
    margin-top: 0;
    position: absolute;
    right: 5px;
    top: 5px;
}
.reason{
    width: 450px;
    height: 100px;
}
.type{
    font-size: 12.5px;
    width:auto;
    height: 20px;
    margin-left: 85px;
    background-color: white;
    color: #848d95;
    font-family: Helvetica;
    font-weight: bold;
    border: 1px solid #EDEDED;
}