.request-popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    background-color: rgba(0,0,0, 0.5);
}
.request-popup_inner1 {
    position: absolute;
    left: 18%;
    right: 20%;
    top: 0%;
    bottom: 43.5%;
    margin: auto;
    width: 600px;
    height: 200px;
    background-color:#fafafb; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.request-popup_inner2 {
    position: absolute;
    left: 18%;
    right: 20%;
    top: 38.5%;
    bottom:25%;
    margin: auto;
    width: 600px;
    height: 200px;
    background-color:#fafafb; 
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:  5px;
}
.change{
    position: fixed;
    left: 46%;
    right: 46%;
    top:38.5%;
    bottom:25%;
    z-index: 10;
    width: 70px;
    height: 70px;
}
.user-request1{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 15px;
    font-family: Helvetica;
}
.request-name{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: lighter;
}
.date{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-image: -webkit-linear-gradient(40deg, #6754e2 0%, #19cce6 100%); 
    width: 80px;
    padding-left: 7.5px;  
}
.date2{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-image: -webkit-linear-gradient(125deg, #5f51fb 0%, #ae59cb 64%, #fd609b 100%);
    width: 80px;
    padding-left: 7.5px;  
}

.select-request2{
    position: absolute;
    background-image: -webkit-linear-gradient(40deg, #6754e2 0%, #19cce6 100%);  
    margin-top: 5px;
    margin-right: 15px;
    width: auto;
    bottom:10px;
    right: 5px;
    color: white;
    border: none;
    border-radius: 5px;
}
.request-header1{
    background-image: -webkit-linear-gradient(40deg, #6754e2 0%, #19cce6 100%);  
    width: 600px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    padding-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.request-header2{
    background-image: -webkit-linear-gradient(125deg, #5f51fb 0%, #ae59cb 64%, #fd609b 100%);
    width: 600px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.close-create{
    width: 12.5px;
    height: 12.5px;
    margin-top: 0;
    position: absolute;
    right: 5px;
    top: 5px;
}
.req-period{
    font-family: 'Poppins', sans-serif;
}