.Schedule{
    background-image: -webkit-linear-gradient(40deg, #6754e2 0%, #19cce6 150%);  
height: 100vh;
width: auto;
}
.stat{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 50px;
    font-size: 18px;
}
.p1{
    margin-left: 50px ;
    color: #E37222;
    
}
.p2{
    margin-left: 40px;
    color: #E37222;
}

.p3{
    margin-left: 40px;
    color: #E37222;
}
.tests{
    background-color: white;
    margin-top: 30px;
    overflow: hidden;
    table-layout: fixed;
}
.fix{
    width: 200px;
    height: 50px;
}
.test2{
    width: 30px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: #4054b2;
    color: white;
    font-weight:bold;
    font-size:13px;
}
.day{
    font-size: 9px;
}
.name{
    width: 50px;
}
.before-schedule{
    float:right;
    margin-top: 50px;
}
.stat-schedule{
    display: flex;
    position:absolute;
    left:15px;
    top:70px;
    margin-right:20px;
}
#filter{
    display: flex;
    margin-right:10;
}
#tr1{
    font-family: 'Poppins', sans-serif;
    background-color: #4054b2;
     color: white;
}
#edit-schedule{
    border: 1px solid white;
    color: #6754e2;
    background-color: none;
    margin-left:7px;
}
#tr2{
    /* background-image: -webkit-linear-gradient(125deg, #5f51fb 0%, #ae59cb 64%, #fd609b 100%); */
    font-family: 'Poppins', sans-serif;
    background-color: #4054b2;
    color: white;
    text-align: center;
}
#name-schedule{
    /* background-color: #eeaa7b; */
    font-family: 'Poppins', sans-serif;
    background-color: #4054b2;
     color: white;
}
#username-schedule{
    font-family: 'Poppins', sans-serif;
    background-color: #fafafb;
     color: #4054b2;
    font-size:13;
    font-weight:bold;
}
#period-container{
    margin-bottom:-15px;
    margin-top:-10px;
    margin-right:-10px;
}
#period-time{
    width:35px;
    font-size:9px;
    border-radius:5px;
    padding-left:2px;
    margin-left:-10px;
    margin-right:0px;
    margin-top:3px;
    margin-bottom:0px;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
#edit{
    width: 10px;
    height: 10px;
    margin-top:8px;
    margin-left:18px;
}
#edit-icon{
    width: 10px;
    height: 10px;
    margin-top: -90px;
    margin-left: 0px;
}
#edit-icon2{
    width: 10px;
    height: 10px;
    margin-top:-73px;
    margin-left:18px;
}
#wtf{
    width: 10px;
    height: 10px;
    margin-top: 8px;
    margin-left: 18px;
}
.b-save:hover,.b-filter:hover{
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: 40px;
    background: none;
    color: white;
    border: 1px solid white;
}
.b-filter{
    width: 150px;
    height: 40px;
    background: none;
    border: 1px solid white;
    color: #6754e2;
    background-color: white;
    margin-top: 65px;
}
.b-static{
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: 40px;
    background: none;
    border: 1px solid white;
    color: white;
    background-color: none;
    margin-right: 10px;
    padding-top: 7px;
    padding-left: 5px;
    font-weight: bold; 
}
.show-position{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 55px;
}
.b-save{
    width: 150px;
    height: 40px;
    background: none;
    border: 1px solid white;
    color: #6754e2;
    background-color: white;
    margin-top: 30px;
}
.userloggedcolor{
    color: black;
    background-color: #15da88
}
.managerperiod-description{
    display: flex;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 5px;
    height: 35px;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 66px;
}
.period-color{
    width: 20px;
    height: 20px;
    border-radius: 25px; 
    border: 2px solid white;
}
.table-td{
    background-color: white;
}

