.User{
background-image:linear-gradient(#07889b,#66b9bf);
height: 100vh;
width: auto;
}

.tests{
    background-color: white;
    margin-top: 30px;
    border: 1px solid black;
    overflow-x: auto;
    table-layout: fixed;
}
#tr1{
    background-color: #07889b;
     color: white;
}
#tr2{
    background-color: #E37222 ;
    color: white;
    text-align:center;
}
.test2{
    border: 1px solid #dee2e6;
    width: 30px;
    height: 50px;
    color: black;
    font-weight: bold;
    background-Color: #eeaa7b;
    font-size:13px;
}
.Schedule{
    background-image:linear-gradient(#07889b,#66b9bf);
    height: 100vh;
    width: auto;
    padding-top: 80px;
}
.before-schedule{
    float:right;
    margin-right: 20px;
}
.p1{
    margin-left: 50px ;
    color: #E37222;
    
}
.p2{
    margin-left: 40px;
    color: #E37222;
}

.p3{
    margin-left: 40px;
    color: #E37222;
}